## Hyperparameter Optimization

### General Libraries

In [33]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

### Constructing the classifier

In [34]:
# read the data
df = pd.read_csv("./data/Latest_Data_Science_Salaries.csv",sep=";")

# check data frame shape
df.shape

(3300, 11)

In [35]:
def preprocessing(df):
    """ 
        Cette methode permet de faire le preprocessing d'un dataset
    """
    # colsReturns = getColumns(df,df.columns)

    # newData = df[colsReturns]

    newData = pd.get_dummies(df)

    return newData

In [36]:
df = preprocessing(df)

In [37]:
from sklearn.model_selection import train_test_split

# splitting data
X = df.drop(["Salary in USD","Year"], 1)
y = df[["Salary in USD"]]

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20,shuffle=False)

In [38]:
y

      Salary in USD
0            210000
1            165000
2            185900
3            129300
4            140000
...             ...
3295         412000
3296         151000
3297         105000
3298         100000
3299          94665

[3300 rows x 1 columns]

In [39]:
y.value_counts()

Salary in USD
100000           56
200000           50
150000           50
120000           46
160000           36
                 ..
113366            1
113476            1
113600            1
114047            1
450000            1
Length: 1315, dtype: int64

In [40]:
X

,Salary,Job Title_AI Architect,Job Title_AI Developer,Job Title_AI Programmer,Job Title_AI Scientist,Job Title_AWS Data Architect,Job Title_Analytics Engineer,Job Title_Analytics Engineering Manager,Job Title_Applied Data Scientist,Job Title_Applied Machine Learning Engineer,...,Employee Residence_Turkey,Employee Residence_Ukraine,Employee Residence_United Arab Emirates,Employee Residence_United Kingdom,Employee Residence_United States,Employee Residence_Uzbekistan,Employee Residence_Viet Nam,Company Size_Large,Company Size_Medium,Company Size_Small
0,210000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,165000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,185900,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,129300,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,140000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3295,412000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3296,151000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3297,105000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3298,100000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3299,7000000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [41]:
from sklearn.preprocessing import StandardScaler

s_scaler = StandardScaler()

X_ss = pd.DataFrame(s_scaler.fit_transform(X), columns = X.columns)

In [42]:
X_ss

,Salary,Job Title_AI Architect,Job Title_AI Developer,Job Title_AI Programmer,Job Title_AI Scientist,Job Title_AWS Data Architect,Job Title_Analytics Engineer,Job Title_Analytics Engineering Manager,Job Title_Applied Data Scientist,Job Title_Applied Machine Learning Engineer,...,Employee Residence_Turkey,Employee Residence_Ukraine,Employee Residence_United Arab Emirates,Employee Residence_United Kingdom,Employee Residence_United States,Employee Residence_Uzbekistan,Employee Residence_Viet Nam,Company Size_Large,Company Size_Medium,Company Size_Small
0,0.007334,-0.034837,-0.052295,-0.034837,-0.074057,-0.01741,-0.204124,-0.01741,-0.055132,-0.030165,...,-0.042679,-0.030165,-0.030165,-0.28319,0.587615,-0.030165,-0.024626,-0.393260,0.468040,-0.218979
1,-0.054494,-0.034837,-0.052295,-0.034837,-0.074057,-0.01741,-0.204124,-0.01741,-0.055132,-0.030165,...,-0.042679,-0.030165,-0.030165,-0.28319,0.587615,-0.030165,-0.024626,-0.393260,0.468040,-0.218979
2,-0.025778,-0.034837,-0.052295,-0.034837,-0.074057,-0.01741,-0.204124,-0.01741,-0.055132,-0.030165,...,-0.042679,-0.030165,-0.030165,-0.28319,0.587615,-0.030165,-0.024626,-0.393260,0.468040,-0.218979
3,-0.103544,-0.034837,-0.052295,-0.034837,-0.074057,-0.01741,-0.204124,-0.01741,-0.055132,-0.030165,...,-0.042679,-0.030165,-0.030165,-0.28319,0.587615,-0.030165,-0.024626,-0.393260,0.468040,-0.218979
4,-0.088843,-0.034837,-0.052295,-0.034837,-0.074057,-0.01741,-0.204124,-0.01741,-0.055132,-0.030165,...,-0.042679,-0.030165,-0.030165,-0.28319,0.587615,-0.030165,-0.024626,-0.393260,0.468040,-0.218979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3295,0.284872,-0.034837,-0.052295,-0.034837,-0.074057,-0.01741,-0.204124,-0.01741,-0.055132,-0.030165,...,-0.042679,-0.030165,-0.030165,-0.28319,0.587615,-0.030165,-0.024626,2.542846,-2.136568,-0.218979
3296,-0.073729,-0.034837,-0.052295,-0.034837,-0.074057,-0.01741,-0.204124,-0.01741,-0.055132,-0.030165,...,-0.042679,-0.030165,-0.030165,-0.28319,0.587615,-0.030165,-0.024626,2.542846,-2.136568,-0.218979
3297,-0.136931,-0.034837,-0.052295,-0.034837,-0.074057,-0.01741,-0.204124,-0.01741,-0.055132,-0.030165,...,-0.042679,-0.030165,-0.030165,-0.28319,0.587615,-0.030165,-0.024626,-0.393260,-2.136568,4.566651
3298,-0.143801,-0.034837,-0.052295,-0.034837,-0.074057,-0.01741,-0.204124,-0.01741,-0.055132,-0.030165,...,-0.042679,-0.030165,-0.030165,-0.28319,0.587615,-0.030165,-0.024626,2.542846,-2.136568,-0.218979
3299,9.336461,-0.034837,-0.052295,-0.034837,-0.074057,-0.01741,-0.204124,-0.01741,-0.055132,-0.030165,...,-0.042679,-0.030165,-0.030165,-0.28319,-1.701794,-0.030165,-0.024626,2.542846,-2.136568,-0.218979

In [43]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_ss, y, test_size=0.25, random_state=42)

In [44]:
import sklearn 
sklearn.__version__

'1.3.0'

### Implementing the SVM

In [58]:
from sklearn import svm 

clf = svm.SVR(kernel = 'linear', C = 10)

clf.fit(X_train, y_train)

SVR(C=10, kernel='linear')

In [59]:
clf.score(X_test,y_test)

0.31172103710910115

### Hyperparameter Optimization

Here we choose to optimize four hyperparameters for a support vector machine classifier, these are:
- **C:** regularization parameter
- **kernel:** pecifies the kernel type to be used in the algorithm (linear, poly, rbf, sigmoid, precomputed)
- **poly**: degree of the polynomial kernel function (poly)
- **gamma**: kernel coefficient for rbf, poly and sigmoid

#### Defining hyperparameter space

In [60]:
hyperparameters = {"C":[0.001, 0.01, 0.1, 1, 10, 100] , 
                  "kernel" : ["linear", "poly", "rbf", "sigmoid"], 
                  "degree" : [1, 2, 3, 4],
                 "gamma": [0.0001, 0.001, 0.01, 0.1, 1, 10]}

#### Manual Search

In [61]:
# set model hyperparameters
clf_rbf = svm.SVR(kernel = 'rbf', C = 10, gamma = 0.1)

# fit the model to the training data
clf_rbf.fit(X_train, y_train)

#generate a set of predictions
y_pred = clf_rbf.predict(X_test)

# model evaluation
clf_rbf.score(X_test,y_test)

-0.007458108028738586

#### Random search

In [63]:
from sklearn.model_selection import RandomizedSearchCV

# perform random search
clf_rs = RandomizedSearchCV(svm.SVR(), hyperparameters, cv = 3, scoring = "f1", n_iter = 20)
random_search = clf_rs.fit(X_train, y_train)

# identify best parameters from random search
random_search.best_params_

{'kernel': 'linear', 'gamma': 0.0001, 'degree': 1, 'C': 0.1}

In [66]:
# set model hyperparameters
model_svr1 = svm.SVR(kernel='linear',gamma=0.0001,degree=1,C=0.1)
model_svr1.fit(X_train,y_train)
# model evaluation
model_svr1.score(X_test,y_test)

-0.0013898853793428145

#### Grid search

In [67]:
from sklearn.model_selection import GridSearchCV

# perform grid search
clf_gs = GridSearchCV(svm.SVR(), hyperparameters, cv = 3, scoring = "f1")
grid_search = clf_gs.fit(X_train, y_train)

# identify best parameters from grid search
grid_search.best_params_

In [ ]:
# set model hyperparameters
model_svr2 = svm.SVR(kernel='linear',gamma=0.0001,degree=1,C=0.1)
model_svr2.fit(X_train,y_train)
# model evaluation
model_svr2.score(X_test,y_test)

#### Bayesian Optimization

In [ ]:
from skopt import BayesSearchCV

# perform bayesian optimization
clf_bo = BayesSearchCV(svm.SVC(), hyperparameters, cv =3, scoring = "f1", n_iter = 20)
bayes_search = clf_bo.fit(X_train, y_train)

# identify best parameters from bayesian optimization
bayes_search.best_params_

In [ ]:
# set model hyperparameters
model_svr3 = svm.SVR(kernel='linear',gamma=0.0001,degree=1,C=0.1)
model_svr3.fit(X_train,y_train)
# model evaluation
model_svr3.score(X_test,y_test)